	<ion-view view-title=" Sobre o app" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-sobre" class=" page-sobre">
		<div class="padding scroll">

    <div class="padding sobre-box">
        <h2></h2>
 <div class="text-center">
    <img class="avatar relative" style="width:50% !important; height:auto;" ng-src="data/images/header/logojab.png" />
   <p style=""><strong>Jaborandi SP</strong><br /><strong>Gest&atilde;o Silvio Vaz</strong><br />
      </div>
    </div>
    <br/>

    <div class="disable-user-behavior sobre-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/silvinhojaborandi')" >
        <i class="positive icon ion-social-facebook"></i>
        Curta nossa página
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://www.instagram.com/silvinhojaborandi/')" >
        <i class="assertive icon ion-social-instagram"></i>
        Siga-nos no Instagram
      </a>
            
       <a class="item item-icon-left" ng-click="openURL('mailto://steffanvernillo@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        Fale com o desenvolvedor
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('https://github.com/jaborandi')" >
        <i class="icon ion-social-github royal"></i>
        Este projeto é open source
         <p>Veja no Github</p>
      </a>      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
