	<ion-view view-title=" Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-slide_tab_menu" class=" page-slide_tab_menu">
		
	<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Serviços" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/jaborandi/empregos" >
								<i class="icon ion-ios-briefcase" ></i>
								<h2>{{ "Empregos" | translate }}</h2>
								<span class="item-note pull-left">pagina de comunicados</span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/solucoes" >
								<i class="icon ion-help-buoy" ></i>
								<h2>{{ "Central de Solu&ccedil;&otilde;es" | translate }}</h2>
								<span class="item-note pull-left">solu&ccedil;&otilde;es</span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/onibus" >
								<i class="icon ion-android-bus" ></i>
								<h2>{{ "Hor&aacute;rios de &Ocirc;nibus" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/telefones" >
								<i class="icon ion-ios-telephone" ></i>
								<h2>{{ "Telefones &Uacute;teis" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="Informações" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/jaborandi/noticias" >
								<i class="icon ion-ios-paper" ></i>
								<h2>{{ "Not&iacute;cias" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/eventos" >
								<i class="icon ion-android-calendar" ></i>
								<h2>{{ "Agenda do Prefeito" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/secretarias" >
								<i class="icon ion-ios-people" ></i>
								<h2>{{ "Secretarias" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/diario" >
								<i class="icon ion-compose" ></i>
								<h2>{{ "Di&aacute;rio Oficial" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/contato" >
								<i class="icon ion-email" ></i>
								<h2>{{ "Contato" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/sobre" >
								<i class="icon ion-information" ></i>
								<h2>{{ "Sobre o app" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/jaborandi/imoveis" >
								<i class="icon ion-ios-home" ></i>
								<h2>{{ "Im&oacute;veis" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
