	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/jaborandi/inicio" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "Inicio" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title no-border item-balanced">Servi&ccedil;os</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/jaborandi/empregos" >
					<i class="icon ion-ios-briefcase" ></i>
					<p>{{ "Empregos" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/jaborandi/solucoes" >
					<i class="icon ion-help-buoy" ></i>
					<p>{{ "Central de Solu&ccedil;&otilde;es" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/jaborandi/onibus" >
					<i class="icon ion-android-bus" ></i>
					<p>{{ "Hor&aacute;rios de &Ocirc;nibus" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/jaborandi/telefones" >
					<i class="icon ion-ios-telephone" ></i>
					<p>{{ "Telefones &Uacute;teis" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title no-border item-balanced">Informa&ccedil;&otilde;es</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light balanced-900-bg ink"  ng-href="#/jaborandi/noticias" >
					<i class="icon ion-ios-paper" ></i>
					<p>{{ "Not&iacute;cias" | translate }}</p>
				</a>
				<a class="col-33 no-border light energized-bg ink"  ng-href="#/jaborandi/eventos" >
					<i class="icon ion-android-calendar" ></i>
					<p>{{ "Agenda do Prefeito" | translate }}</p>
				</a>
				<a class="col-33 no-border light energized-900-bg ink"  ng-href="#/jaborandi/secretarias" >
					<i class="icon ion-ios-people" ></i>
					<p>{{ "Secretarias" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light assertive-bg ink"  ng-href="#/jaborandi/diario" >
					<i class="icon ion-compose" ></i>
					<p>{{ "Di&aacute;rio Oficial" | translate }}</p>
				</a>
				<a class="col-33 no-border light assertive-900-bg ink"  ng-href="#/jaborandi/contato" >
					<i class="icon ion-email" ></i>
					<p>{{ "Contato" | translate }}</p>
				</a>
				<a class="col-33 no-border light royal-bg ink"  ng-href="#/jaborandi/sobre" >
					<i class="icon ion-information" ></i>
					<p>{{ "Sobre o app" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/jaborandi/imoveis" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "Im&oacute;veis" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
